# .github/workflows/docker.yml
name: Build Docker images

# On déclenche le workflow sur toutes les branches sauf main
on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Récupérer le code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Installer Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. Construire les images backend et frontend
      - name: Build Docker images
        run: |
          docker compose -f infra/docker-compose.yml build

      # 4. Tester si les containers démarrent correctement
      - name: Test Docker containers
        run: |
          docker compose -f infra/docker-compose.yml up -d
          docker ps
          docker compose -f infra/docker-compose.yml down
